body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: #000;
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#todo-input {
    width: calc(100% - 22px);
    padding: 5px;
}

#todo-list {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.todo-text {
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Stilovi za Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .todo-container {
    background-color: #444;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

body.dark-mode #todo-input {
    background-color: #555;
    color: white;
}

body.dark-mode .todo-item {
    background-color: #555;
}

body.dark-mode button {
    background-color: #555;
    color: white;
}

body.dark-mode button:hover {
    background-color: #666;
}

/* Stilovi za ikonicu prebacivanja moda */
.mode-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}
